@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;700&display=swap");

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

.slider-container {
  width: 100%;
  height: 100vh;
  background-image: url('Images/bg-img.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
}

.slider-images {
  display: flex;
  align-items: center;
  gap: 21px;
}

.slider-images #sliderimg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 6px;
}

.slider-img {
  width: 110px;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  transition: 0.7s ease;
}

.slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
  height: 480px;
}

.slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
  height: 560px;
}

.slider-images .slider-img:nth-child(3) {
  height: 665px;
}

#sliderh1 {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: #FF6638;
  position: absolute;
  top: 50%;
  transition: 0.7s ease;
  text-shadow: black 2px 2px 3px;
  white-space: nowrap;
}



.details {
  position: absolute;
  bottom: 43px;
  left: 43px;
}

#sliderh2 {
  font-family: "Jost", sans-serif;
  font-size: 26px;
  font-weight: 700;
  text-align: left;
  line-height: 44px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

#sliderp {
  font-family: "Jost", sans-serif;
  font-size: 20px;
  font-weight: 700;
  text-align: left;
  line-height: 33px;
  text-align: left;
  color: #fff;
  text-transform: uppercase;
  transition: 0.7s ease;
  display: none;
}

.slider-img.active {
  width: 766px !important;
  height: 750px !important;
}

.slider-img.active #sliderh1 {
  display: none;
}

.slider-img.active #sliderp, .slider-img.active #sliderh2 {
  display: block;
}

/* Media Queries for Responsive Design */
@media (max-width: 320px) {
  .slider-images {
    gap: 3px;
  }
  .slider-img {
    width: 15px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 100px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 140px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 190px;
  }
  .slider-img.active {
    width: 220px !important;
    height: 230px !important;
  }


  .uiux {
    transform: translate(-29%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .soft {
    transform: translate(-38%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .web {
    transform: translate(-35%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .graph {
    transform: translate(-33%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .edit {
    transform: translate(-10%, -50%) rotate(270deg);
    left: -3%;
  }


  #sliderh1 {
    font-size: 5px;
  }
  #sliderh2 {
    font-size: 5px;
    line-height: 28px;
  }
  #sliderp {
    font-size: 5px;
    line-height: 22px;
  }
}

@media (min-width: 320px) and (max-width: 575px) {
  .slider-images {
    gap: 5px;
  }
  .slider-img {
    width: 20px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 140px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 180px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 240px;
  }
  .slider-img.active {
    width: 225px !important;
    height: 245px !important;
  }
  
  .uiux {
    transform: translate(-29%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .soft {
    transform: translate(-38%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .web {
    transform: translate(-35%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .graph {
    transform: translate(-33%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .edit {
    transform: translate(-10%, -50%) rotate(270deg);
    left: -3%;
  }


  #sliderh1 {
    font-size: 7px;
  }
  #sliderh2 {
    font-size: 7px;
    line-height: 30px;
  }
  #sliderp {
    font-size: 7px;
    line-height: 24px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .slider-images {
    gap: 7px;
  }
  .slider-img {
    width: 30px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 180px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 230px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 300px;
  }
  .slider-img.active {
    width: 345px !important;
    height: 365px !important;
  }


  
  .uiux {
    transform: translate(-29%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .soft {
    transform: translate(-38%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .web {
    transform: translate(-35%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .graph {
    transform: translate(-33%, -50%) rotate(270deg);
    left: -3%;
  }
  
  .edit {
    transform: translate(-10%, -50%) rotate(270deg);
    left: -3%;
  }


  #sliderh1 {
    font-size: 10px;
  }
  #sliderh2 {
    font-size: 10px;
    line-height: 30px;
  }
  #sliderp {
    font-size: 10px;
    line-height: 24px;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .slider-images {
    gap: 10px;
  }
  .slider-img {
    width: 50px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 220px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 280px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 365px;
  }
  .slider-img.active {
    width: 385px !important;
    height: 405px !important;
  }


  .uiux {
    transform: translate(-20%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .soft {
    transform: translate(-33%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .web {
    transform: translate(-28%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .graph {
    transform: translate(-27%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .edit {
    transform: translate(1%, -50%) rotate(270deg);
    left: -5%;
  }


  #sliderh1 {
    font-size: 12px;
  }
  #sliderh2 {
    font-size: 12px;
    line-height: 30px;
  }
  #sliderp {
    font-size: 12px;
    line-height: 24px;
  }
}

@media (min-width: 1024px) and (max-width: 1151px) {
  .slider-images {
    gap: 15px;
  }
  .slider-img {
    width: 70px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 340px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 420px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 525px;
  }
  .slider-img.active {
    width: 600px !important;
    height: 620px !important;
  }


  .uiux {
    transform: translate(-15%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .soft {
    transform: translate(-31%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .web {
    transform: translate(-25%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .graph {
    transform: translate(-23%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .edit {
    transform: translate(11%, -50%) rotate(270deg);
    left: -5%;
  }



  #sliderh1 {
    font-size: 15px;
  }
  #sliderh2 {
    font-size: 15px;
    line-height: 30px;
  }
  #sliderp {
    font-size: 15px;
    line-height: 24px;
  }
}

@media (min-width: 1152px) {
  .slider-images {
    gap: 21px;
  }
  .slider-img {
    width: 110px;
  }
  .slider-images .slider-img:first-child, .slider-images .slider-img:last-child {
    height: 480px;
  }
  .slider-images .slider-img:nth-child(2), .slider-images .slider-img:nth-child(4) {
    height: 560px;
  }
  .slider-images .slider-img:nth-child(3) {
    height: 665px;
  }
  .slider-img.active {
    width: 766px !important;
    height: 750px !important;
  }


  .uiux {
    transform: translate(-9%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .soft {
    transform: translate(-26%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .web {
    transform: translate(-20%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .graph {
    transform: translate(-18%, -50%) rotate(270deg);
    left: -5%;
  }
  
  .edit {
    transform: translate(22%, -50%) rotate(270deg);
    left: -5%;
  }
}
